* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Noto Sans', sans-serif;
}

img {
    max-width: 100%;
}

:root {
    --blue: #0084FD;
    --lightblue: #B5DDFF;
    --purple: #9792E4;
    --dark: #333333;
    --yellow: #FDC15F;
}

ul,
ol,
menu{
    list-style-type: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

/* DEBUG RULES */

.debug .container {
    border: 1px solid black;
}

.debug .container-medium {
    border: 1px solid black;
}

.debug .card{
    border: 2px solid #333333;
}

/* GENERAL RULES */

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.container-medium{
    max-width: 875px;
    margin: 0 auto;
}

.container-about-us{
    max-width: 1050px;
    margin: 0 auto;
}

.container-get-started{
    max-width: 560px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    
}

.column{
    display: flex;
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.text-center{
    text-align: center;
}

.color-white{
    color: white;
}

.col-3 {
    flex-basis: calc( (100%/12) * 3);
}

.col-4 {
    flex-basis: calc( (100%/12) * 4);
}

.col-8 {
    flex-basis: calc( (100%/12) * 8);
}

.col-6{
    flex-basis: 50%;
}

.col-9{
    flex-basis: calc( (100%/12) * 9);
}

.col-12{
    flex-basis: 100%;
}

.title--xs {
    font-size: 17px;
}

.title-small{
    font-size: 22px;
    color: var(--blue);
}

.title-medium{
    font-size: 32px;
}

.title-section{
    font-size: 43px;
}

.title-big{
    font-size: 65px;
}

.mb-30{
    margin-bottom: 30px;
}

.mb-40{
    margin-bottom: 40px;
}

.mb-58{
    margin-bottom: 58px;
}

/* BUTTONS */

.button {
    display: inline-block;
    border-radius: 20px;
    line-height: 38px;
    font-weight: 400;
}

.button-circle{
    display: inline-block;
    border-radius: 50%;
    line-height: 50px;
    padding: 0 20px;
}

.button--white {
    background-color: white;
    color: #333333;
}

.button--blue {
    background-color: var(--blue);
    color: white;
}

.button--purple {
    background-color: var(--purple);
    color: currentColor;
}

.button-large{
    padding: 0 50px;
}

/* HEADER */

.main-header {
    background-color: var(--blue);
    padding: 19px 0px;
    color:  white;
}

.main-header nav.row {
    align-items: center;
}

.nav-item a {
    line-height: 38px;
    font-size: 16px;
    padding: 0 16px;
}

.logo-header{
    display: block;
}

.hamburger {
    display: none;
    font-size: 25px;
}

/* MEDIAUERY HEADER */

@media screen and (max-width: 991px) {

    .hamburger {
        display: block;
    }

    .header-nav {
        display: none;
    }

    .container {
        margin: 0 32px;
    }
}

/* HERO */

.hero{
    padding: 50px 0 100px;
}

.card {
    background-color: var(--lightblue);
    padding: 38px 22px;
    border-radius: 20px;
    height: 100%;
}

.card-img img{
    width: 200px;
    margin-bottom: -38px;
}

.card .card-big{
    flex-wrap: nowrap;
}

.card-mid{
    text-align: center;
}

.gutter-24 {
    gap: 24px;
}

.hero .col-8{
    flex-basis: calc( (100%/12) * 8 - (24px/2) );
}

.hero .col-4-special{
    flex-basis: calc( (100%/12) * 4 - (24px/2) );
}

.hero .col-4{
    flex-basis: calc( (100%/12) * 4 - (48px/3) );
}

.code-icon{
    color: var(--blue);
    font-size: 90px;
}

/* MEDIAQUERY HERO */

@media screen and (max-width: 991px) {

    .card-big{
        flex-wrap: wrap;
    }

    .card .card-description{
        flex-grow: 1;
    }
}

@media screen and (max-width: 575px) {

    .hero [class^="col-"] {
        flex-basis: calc(100%);
    }

}

/* Strategic Planning Section */

.strategic-planning{
    background-color: var(--purple);
    padding: 130px 0 65px;
}

.strategic-planning .row{
    gap: 65px;
    align-items: flex-end;
}

.strategic-planning .col-6{
    flex-basis: calc( (100%/2) - 32.5px);
}

/* oppure utilizzando il metodo padding alle colonne 
e margin negativo alla riga*/

/* .strategic-planning .row{
    margin: 0 -32.5px;
}

.strategic-planning .col-6{
    flex-basis: 50%;
    padding: 0 32.5px;
} */

.strategic-planning .title-small{
    color: black;
}

.strategic-planning .card-p{
    line-height: 1.7em;
}

.italic{
    font-style: italic;
}

.card.text-center.color-black{
    color: black;
}

.strategic-planning .card{
    background-color: white;
    border-radius: 50px;
}

.card-img{
    max-width: 245px;
}

.strategic-planning__img{
    margin-bottom: 135px;
}

/* Media Query Strategic Planning section */

@media screen and (max-width: 991px) {
    
    .strategic-planning [class^="col-"] {
        flex-basis: calc(100%);
    }

    .container-medium {
        margin: 0 32px;
    }

    .strategic-planning__img{
        margin-bottom: 90px;
        text-align: center;
    }

    .strategic-planning .row{
        gap: 35px;
    }

    .strategic-planning{
        padding: 65px 0;
    }

}

/* Testimonial Section Rules */

.testimonial-section{
    padding: 68px 0 110px;
}

.testimonial-section .row{
    row-gap: 33px;
}

.testimonial-section .title-section{
    color: var(--purple);
}

.testimonial-section .title--xs{
    text-transform: uppercase;
    font-weight: 400;
}

.header__testimonial-section{
    text-align: center;
    margin-bottom: 52px;
}

.text__testimonial-section{
    font-size: 18px;
}

.header__testimonial-section .title--xs,
.header__testimonial-section .title-section {
    margin-bottom: 42px;
}

.testimonial-section .card-horizontal{
    background-color: var(--purple);
    padding: 30px 45px 45px 15px;
    border-radius: 50px;
}

.testimonial-img{
    width: 200px;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
}

.card-horizontal .col-9 {
    align-self: center;
    color: white;
}

.testimonial-text{
    font-size: 18px;
    margin-bottom: 33px;
}

.testimonial-name{
    font-size: 21px;
    text-transform: uppercase;
}

/* Query Testimonial section */

@media screen and (max-width: 575px) {

    .testimonial-section [class^="col-"] {
        flex-basis: calc(100%);
    }

    .card-horizontal .col-9 {
        text-align: center;
    }
}

/* Benefits Section */

.benefits-section{
    background-color: var(--purple);
    padding: 80px 0 60px;
}

.benefits-section .card{
    background-color: white;
    text-align: left;
}

.benefits-section .title-section{
    color: white;
    text-align: center;
    margin-bottom: 60px;
}

.benefits-section .card-header{
    font-size: 70px;
    font-weight: 600;
    color: var(--purple);
    margin-bottom: 30px;
}

.benefits-section .title-small{
    color: var(--purple);
    margin-bottom: 30px;
}

.benefits-section .button--purple{
    color: white;
}

.benefits-section .card-p{
    line-height: 1.7em;
    margin-bottom: 30px;
}

.benefits-section .col-4{
    flex-basis: calc( (100%/12) * 4 - (48px/3) );
}

/* Query Benefits Section */

@media screen and (max-width:991px) {

    .benefits-section [class^="col-"] {
        flex-basis: calc( 50% - 24px );
    }

}

@media screen and (max-width:575px) {

    .benefits-section [class^="col-"] {
        flex-basis: 100%;
    }
}

/* About us section */

.about-us {
    padding: 95px 0 150px;
}

.about-us .row{
    gap: 60px;
}

.about-us .col-8.column{
    gap: 60px;
}

.about-us .card-p{
    line-height: 2.2em;
    font-size: 18px;
}

.about-us .title-big{
    color: var(--purple);
}

.img-about-us{
    border-radius: 50%;
    width: 245px;
}

.card-quote{
    color: var(--purple);
    font-size: 27px;
    font-weight: 600;
}

.about-us .col-3.column{
    gap: 30px;
}

.about-us .button{
    align-self: flex-start;
    padding: 0 14px;
    font-size: 16px;
    color: white;
}

.quote-icon{
    font-size: 60px;
    color: var(--purple);
    position: absolute;
    top: 15px;
    right: 10px;
}

.about-us--header-right{
    position: relative;
    width: 245px;
}

/* Query About us */

@media screen and (max-width: 991px) {

    .about-us .row{
        flex-wrap: nowrap;
    }

}

@media screen and (max-width: 575px) {

    .about-us .row{
        flex-wrap: wrap;
    }

    .container-about-us {
        margin: 0 32px;
    }
}