* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Noto Sans', sans-serif;
}

img {
    max-width: 100%;
}

:root {
    --blue: #0084FD;
    --lightblue: #B5DDFF;
    --purple: #9792E4;
    --dark: #333333;
    --yellow: #FDC15F;
}

ul,
ol,
menu{
    list-style-type: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

/* DEBUG RULES */

.debug .container {
    border: 1px solid black;
}

.debug .container-medium {
    border: 1px solid black;
}

.debug .card{
    border: 2px solid #333333;
}

/* GENERAL RULES */

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.container-medium{
    max-width: 875px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    
}

.space-between {
    justify-content: space-between;
}

.text-center{
    text-align: center;
}

.color-white{
    color: white;
}

.col-4 {
    flex-basis: calc( (100%/12) * 4);
}

.col-8 {
    flex-basis: calc( (100%/12) * 8);
}

.col-6{
    flex-basis: 50%;
}

.title-small{
    font-size: 22px;
    color: var(--blue);
}

.title-medium{
    font-size: 32px;
}

.mb-30{
    margin-bottom: 30px;
}

.mb-40{
    margin-bottom: 40px;
}

.mb-58{
    margin-bottom: 58px;
}

.mb-135{
    margin-bottom: 135px;
}

/* BUTTONS */

.button {
    display: inline-block;
    border-radius: 20px;
    line-height: 38px;
    font-weight: 400;
}

.button-circle{
    display: inline-block;
    border-radius: 50%;
    line-height: 50px;
    padding: 0 20px;
}

.button--white {
    background-color: white;
    color: #333333;
}

.button--blue {
    background-color: var(--blue);
    color: white;
}

.button--purple {
    background-color: var(--purple);
    color: currentColor;
}

.button-large{
    padding: 0 50px;
}

/* HEADER */

.main-header {
    background-color: var(--blue);
    padding: 19px 0px;
    color:  white;
}

.main-header nav.row {
    align-items: center;
}

.nav-item a {
    line-height: 38px;
    font-size: 16px;
    padding: 0 16px;
}

.logo-header{
    display: block;
}

.hamburger {
    display: none;
    font-size: 25px;
}

/* MEDIAUERY HEADER */

@media screen and (max-width: 991px) {

    .hamburger {
        display: block;
    }

    .header-nav {
        display: none;
    }

    .container {
        margin: 0 32px;
    }
}

/* HERO */

.hero{
    padding: 50px 0;
}

.card {
    background-color: var(--lightblue);
    padding: 38px 22px;
    border-radius: 20px;
    height: 100%;
}

.card-img img{
    width: 200px;
    margin-bottom: -38px;
}

.card-big{
    flex-wrap: nowrap;
}

.card-mid{
    text-align: center;
}

.hero .row{
    gap: 24px;
}

.hero .col-8{
    flex-basis: calc( (100%/12) * 8 - (24px/2) );
}

.hero .col-4-special{
    flex-basis: calc( (100%/12) * 4 - (24px/2) );
}

.hero .col-4{
    flex-basis: calc( (100%/12) * 4 - (48px/3) );
}

.code-icon{
    color: var(--blue);
    font-size: 90px;
}

/* MEDIAQUERY HERO */

@media screen and (max-width: 991px) {

    .card-big{
        flex-wrap: wrap;
    }

    .card .card-description{
        flex-grow: 1;
    }
}

@media screen and (max-width: 575px) {

    .hero [class^="col-"] {
        flex-basis: calc(100%);
    }

}

/* Strategic Planning Section */

.strategic-planning{
    background-color: var(--purple);
    padding: 130px 0 65px;
}

.strategic-planning .row{
    gap: 65px;
    align-items: flex-end;
}

.strategic-planning .col-6{
    flex-basis: calc( (100%/2) - 32.5px);
}

/* oppure utilizzando il metodo padding alle colonne 
e margin negativo alla riga*/

/* .strategic-planning .row{
    margin: 0 -32.5px;
}

.strategic-planning .col-6{
    flex-basis: 50%;
    padding: 0 32.5px;
} */

.strategic-planning .title-small{
    color: black;
}

.italic{
    font-style: italic;
}

.card.text-center.color-black{
    color: black;
}

.strategic-planning .card{
    background-color: white;
}

.card-img{
    max-width: 245px;
}

/* Media Query Strategic Planning section */

@media screen and (max-width: 991px) {
    
    .strategic-planning [class^="col-"] {
        flex-basis: calc(100%);
    }

    .container-medium {
        margin: 0 32px;
    }

    .strategic-planning__img{
        margin-bottom: 90px;
        text-align: center;
    }

    .strategic-planning .row{
        gap: 35px;
    }

    .strategic-planning{
        padding: 65px 0;
    }

}